body {
background-color: lightblue;
font-family: 'Verdana', sans-serif;
}
h1 {
color: purple;
font-size: 3em;
text-align: right;
}
p {
border: 1px solid gray;
padding: 10px;
}
.destacado {
font-weight: bold;
color: orange;
}

#photo {
    width: 8vw;
    height: auto;
}

.subtitle {
    color: rgb(151 156 165 / 0.89);
    text-transform: uppercase;
}

section {
    border: 0.2pt solid #cedddd;
    margin: 4px 2px 8px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(235, 234, 234, 0.6);
}
